<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= link_to "New Project", new_project_path %>

<h2>Projects</h2>
<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.name, project %></li>
  <% end %>
</ul>

<%= "index.html" %>
