<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= admins_only do %>   <!-- Solo los admin puedes crear un nuevo proyecto -->
<%= link_to "New Project", new_project_path %>
<% end %>

<h2>Projects</h2>
<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.name, project %></li>
  <% end %>
</ul>

<%= "index.html" %>
